<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_rumah_pucuk_bg_putih"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_rumah_pucuk_bg_putih"
        android:supportsRtl="true"
        android:theme="@style/Theme.RumahPucuk"
        tools:targetApi="31">
        <activity
            android:name=".userinterface.EditSellingDataPage"
            android:exported="false" />
        <activity
            android:name=".userinterface.DetailSellingPage"
            android:exported="false" />
        <activity
            android:name=".userinterface.DetailPurchasingPage"
            android:exported="false" />
        <activity
            android:name=".userinterface.AddNewCustomer"
            android:exported="false" />
        <activity
            android:name=".userinterface.AddCustomer"
            android:exported="false" />
        <activity
            android:name=".userinterface.SellingPage"
            android:exported="false" />
        <activity
            android:name=".userinterface.UpdateOrderPage"
            android:exported="false" />
        <activity
            android:name=".userinterface.HistoryPage"
            android:exported="false" />
        <activity
            android:name=".userinterface.UpdateStockItemPage"
            android:exported="false" />
        <activity
            android:name=".userinterface.AddNewTypeItemsPage"
            android:exported="false" />
        <activity
            android:name=".userinterface.StockItemsPage"
            android:exported="false" />
        <activity
            android:name=".userinterface.Homepage"
            android:exported="false" />
        <activity
            android:name=".userinterface.CreateAccountPage"
            android:exported="false" />
        <activity
            android:name=".userinterface.LoginPage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>